* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #153677, #4e085f);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#container {
    background-color: rgb(149, 240, 235);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 20px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 13px 15px;
    border: none;
    background-color: #00d9ff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #2ede60;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.completed {
    text-decoration: line-through;
    color: #999;
}
